nav {
  background: #181818;
  z-index: 1000;
}

nav div {
  padding: 10px 20px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul li {
  margin-right: 16px;
  display: inline-block;
}

ul li a {
  color: white;
}

.mobileMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.burgerMenu {
  display: none;
}

button {
  background: #95E1F9;
  border-radius: 26px 3px;
  padding: 12px 33px;
  text-align: center;
  font-size: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  border: none;
  cursor: pointer;
}

.about_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px;
  background: #181818;
}

.about_main-photo {
  width: 400px;
  height: 400px;
  background-image: url("../images/aboutMainPhoto.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.about_main-content {
  width: 50%;
}

.about_main-content .text {
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

.about_main-content .text .headline {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 32px;
}

.about_main-content .owl-carousel {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.slider .slick-slide {
  margin-right: 20px;
}

.slider .slick-prev {
  left: 0;
}

.slider .slick-next {
  right: 0;
}

button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.slide-arrow {
  position: absolute;
  top: 50%;
  margin-top: -15px;
}

.prev-arrow {
  left: -40px;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 15px solid #113463;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.next-arrow {
  right: -40px;
  width: 0;
  height: 0;
  border-right: 0 solid transparent;
  border-left: 15px solid #113463;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.photos {
  background: #181818;
  color: #fff;
  padding: 50px;
}

.webposter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.webposter .text {
  width: 40%;
  font-size: 18px;
}

.webposter .allusion {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.webposter .allusion .arrow_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.webposter .allusion .arrow_container p {
  font-size: 20px;
}

.webposter .allusion .arrow_container img {
  width: 80px;
}

.webposter .allusion .webposter_container {
  background-image: url(../images//webposter.png);
  width: 50%;
  background-size: cover;
  overflow: hidden;
  cursor: pointer;
}

.webposter .allusion .webposter_container a {
  display: block;
  height: 100%;
}

.decorativePhotos {
  background: #181818;
  height: 200px;
  position: relative;
  margin: 180px auto 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.decorativePhotos .photo {
  width: calc((100% - 100px) / 5);
  height: 200px;
}

.decorativePhotos .photo1 {
  background-image: url(../images/exterior.png);
  background-repeat: no-repeat;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.decorativePhotos .photo2 {
  background-image: url(../images/exterior.png);
  background-repeat: no-repeat;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.decorativePhotos .photo3 {
  background-image: url(../images/exterior.png);
  background-repeat: no-repeat;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.decorativePhotos .photo4 {
  background-image: url(../images/exterior.png);
  background-repeat: no-repeat;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.footer {
  width: 100%;
  background: #181818;
}

.footer_wrapper {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 80px 60px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_wrapper .footer_logo {
  width: 64px;
  height: 64px;
  margin: 40px auto 0;
  cursor: pointer;
}

.footer_wrapper .footer_logo img {
  width: 100%;
  height: auto;
}

.footer_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.footer_links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.footer_links ul li {
  display: inline;
}

.footer_links ul li a {
  color: #fff;
}

@media screen and (max-width: 678px) {
  .nav_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #181818;
    position: relative;
    padding: 10px 0;
  }
  .nav_wrapper .mobileMenu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #181818;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
    display: none;
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  .nav_wrapper .mobileMenu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #181818;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .nav_wrapper .mobileMenu button {
    max-width: 200px;
  }
  .nav_wrapper .menuVisible {
    display: block;
    -webkit-transform: translateY(16%);
            transform: translateY(16%);
    z-index: 1200;
  }
  .nav_wrapper .burgerMenu {
    display: block;
    position: absolute;
    top: 38%;
    right: 10%;
  }
  .footer_links ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about_main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about_main-photo {
    margin: 0 auto;
  }
  .about_main-content {
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
    width: 100%;
  }
}
/*# sourceMappingURL=about.css.map */