nav {
    background: #181818;
    z-index: 1000;
    

   div {
        padding: 10px 20px;
        height: 80px;
        display: flex;
        justify-content: space-between;

    }
}

ul {
    display: flex;
    align-items: center;

    li {
    margin-right: 16px;
    display: inline-block;

     a{
         color: rgb(255, 255, 255);
     }
    }
}

.mobileMenu {
    display: flex;
    width: 60%;
    justify-content: space-between;
}


.burgerMenu {
    display: none;
}

button {
    background: #95E1F9;
    border-radius: 26px 3px;
    padding: 12px 33px;
    text-align: center;
    font-size: 16px;
    justify-content: center;
    outline: none;
    border: none;
    cursor: pointer;
}


.about_main {
display: flex;
justify-content: space-between;
padding: 50px;

background: #181818;
    &-photo {
        width: 400px;
        height: 400px;
        background-image: url('../images/aboutMainPhoto.png');
        background-repeat: no-repeat;
        background-size: cover;
       
    }

    &-content {
width: 50%;
        .text {
            font-family: 'Roboto', sans-serif;
            color: #fff;
            .headline {
font-size: 32px;
font-weight: 400;
margin-bottom: 32px;
            }
        }

        .owl-carousel {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    }
}
.slider {
    display: flex;
    position: relative;

    .slick-slide {
        margin-right: 20px;
    }
    .slick-prev {
        left: 0;
    }
    .slick-next {
        right: 0;
    }
}

.photos {
    background: #181818;
    color: #fff;
    padding: 50px;
}

.webposter {
display: flex;
justify-content: space-between;

    .text {
        width: 40%;
        font-size: 18px;
    }

    .allusion {
        width: 30%;
        display: flex;
        justify-content: space-between;

        .arrow_container {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 40%;
            align-items: flex-end;

            p{
                font-size: 20px;
            }
            img {
                width: 80px;
              
                
            }
        }

        .webposter_container {
            background-image: url(../images//webposter.png);
            width: 50%;
            background-size: cover;
            overflow: hidden;
            cursor: pointer;

            a {
                display: block;
                height: 100%;
            }
            
        }
    }
}

.decorativePhotos {
    background: #181818;
    height: 200px;
    position: relative;
    margin: 180px auto 60px;
    display: flex;
    
.photo {
    width: calc((100% - 100px) / 5);
    
    height: 200px;
}
    .photo1 {
       
        background-image: url(../images/exterior.png);
        background-repeat: no-repeat;
        
        transform: rotate(-10deg);

    }
    .photo2 {
      
        background-image: url(../images/exterior.png);
        background-repeat: no-repeat;
        transform: rotate(10deg);
    }
    .photo3 {
      
        background-image: url(../images/exterior.png);
        background-repeat: no-repeat;
        transform: rotate(-10deg);
    }
    .photo4 {
      
        background-image: url(../images/exterior.png);
        background-repeat: no-repeat;
        transform: rotate(10deg);
    }
}

.footer {
    width: 100%;
    background: #181818;

    &_wrapper {
        width: 70%;   
        display: flex;
        flex-direction: column;
        padding: 40px 80px 60px;
        margin: 0 auto;
        align-items: center;

        .footer_logo {
            width: 64px;
            height: 64px;
            margin: 40px auto 0;
            cursor: pointer;

            img {
                width: 100%;
                height: auto;
            }
        }

        

    }
}

.footer_links {
    
        display: flex;
        margin: 0 auto ;
        

        ul{
           
            display: flex;
            justify-content: space-between;
            justify-content: center;
            margin: 0 auto;

            li {
                display: inline;
                a {
                    color: #fff;
                }
            }
        }
    
}


@media screen and (max-width: 678px) {
    .nav_wrapper {
        flex-direction: column;
       align-items: center;
       background: #181818;
       position: relative;
       padding: 10px 0;
       
       .mobileMenu {
            flex-direction: column;
            background: #181818;
            width: 100%;
            align-items: center;
            height: 100vh;
            display: none;
            transform: translateY(-20%);
            transition: transform 0.3s;

           ul {
               flex-direction: column;
               background: #181818;
               width: 100%;
               margin-bottom: 20px;
               margin-top: 20px;
           }
    
           button {
               max-width: 200px;
               
           }
       }

.menuVisible {
    display: block;
    transform: translateY(16%);
    z-index: 1200;
   

}
        .burgerMenu {
            display: block;
            position: absolute;
            top: 38%;
            right: 10%;
        }
    }

    .footer_links {
        ul {
    
            flex-direction: column;
        }
    }


    .about_main {
        flex-direction: column;

        &-photo {
            margin: 0 auto;
        }

        &-content {
            margin: 0 auto;
            text-align: center;
            margin-top: 40px;
            width: 100%;
        }
    }
}