nav {
    background: #181818;
    z-index: 1000;
    

   div {
        padding: 10px 20px;
        height: 80px;
        display: flex;
        justify-content: space-between;

    }
}

ul {
    display: flex;
    align-items: center;

    li {
    margin-right: 16px;
    display: inline-block;

     a{
         color: rgb(255, 255, 255);
     }
    }
}

.mobileMenu {
    display: flex;
    width: 60%;
    justify-content: space-between;
}


.burgerMenu {
    display: none;
}

button {
    background: #95E1F9;
    border-radius: 26px 3px;
    padding: 12px 33px;
    text-align: center;
    font-size: 16px;
    justify-content: center;
    outline: none;
    border: none;
    cursor: pointer;
}


.about_main {
display: flex;
justify-content: space-between;
padding: 50px;

background: #181818;
    &-photo {
        width: 400px;
        height: 400px;
        background-image: url('../images/aboutMainPhoto.png');
        background-repeat: no-repeat;
        background-size: cover;
       
    }

    &-content {
width: 50%;
        .text {
            font-family: 'Roboto', sans-serif;
            color: #fff;
            .headline {
font-size: 32px;
font-weight: 400;
margin-bottom: 32px;
            }
        }

        .owl-carousel {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    }
}
.slider {
    display: flex;
    position: relative;

    .slick-slide {
        margin-right: 20px;
    }
    .slick-prev {
        left: 0;
    }
    .slick-next {
        right: 0;
    }
}
button{
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
.slide-arrow{
    position: absolute;
    top: 50%;
    margin-top: -15px;
  }
  .prev-arrow{
    left: -40px;
    width: 0;
    height: 0;
    border-left: 0 solid transparent;
    border-right: 15px solid #113463;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
  .next-arrow{
    right: -40px;
    width: 0;
    height: 0;
    border-right: 0 solid transparent;
    border-left: 15px solid #113463;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
.photos {
    background: #181818;
    color: #fff;
    padding: 50px;
}

.webposter {
display: flex;
justify-content: space-between;

    .text {
        width: 40%;
        font-size: 18px;
    }

    .allusion {
        width: 30%;
        display: flex;
        justify-content: space-between;

        .arrow_container {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            width: 40%;
            align-items: flex-end;

            p{
                font-size: 20px;
            }
            img {
                width: 80px;
              
                
            }
        }

        .webposter_container {
            background-image: url(../images//webposter.png);
            width: 50%;
            background-size: cover;
            overflow: hidden;
            cursor: pointer;

            a {
                display: block;
                height: 100%;
            }
            
        }
    }
}

.decorativePhotos {
    background: #181818;
    height: 200px;
    position: relative;
    margin: 180px auto 60px;
    display: flex;
    
.photo {
    width: calc((100% - 200px) / 5);
    object-fit: cover;
    height: 200px;
    margin-right: 60px;

    
}
    .photo1 {
       
        background-image: url(../images/decorPhoto1.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transform: rotate(-10deg);

    }
    .photo2 {
      
        background-image: url(../images/decorPhoto2.png);
        background-repeat: no-repeat;
        transform: rotate(10deg);
        background-position: center;
        background-size: cover;
    }
    .photo3 {
      
        background-image: url(../images/decorPhoto3.png);
        background-repeat: no-repeat;
        transform: rotate(-10deg);
        background-position: center;
        background-size: cover;
    }
    .photo4 {
      
        background-image: url(../images/decorPhoto4.png);
        background-repeat: no-repeat;
        transform: rotate(10deg);
        background-position: center;
        background-size: cover;
    }
    .photo5 {
      
        background-image: url(../images/decorPhoto5.png);
        background-repeat: no-repeat;
        transform: rotate(-10deg);
        background-position: center;
        background-size: cover;
    }
}

.footer {
    width: 100%;
    background: #181818;

    &_wrapper {
        width: 70%;   
        display: flex;
        flex-direction: column;
        padding: 40px 80px 60px;
        margin: 0 auto;
        align-items: center;

        .footer_logo {
            width: 64px;
            height: 64px;
            margin: 40px auto 0;
            cursor: pointer;

            img {
                width: 100%;
                height: auto;
            }
        }

        

    }
}

.footer_links {
    
        display: flex;
        margin: 0 auto ;
        

        ul{
           
            display: flex;
            justify-content: space-between;
            justify-content: center;
            margin: 0 auto;

            li {
                display: inline;
                a {
                    color: #fff;
                }
            }
        }
    
}

.book_carousel {
    overflow: hidden;
    position: relative;
    margin: 0 auto ;
    padding: 20px 0 60px ;
   
}

.book_carousel_item,
.book_carousel_item-hidden {
    display: none;
    margin: 0 auto;
}

.book_carousel_item-visible {
    display: block;
    text-align: center;
}

.book_carousel_item img {
    width: 50%;
    height: auto;
    
}

.book_carousel_item p {
    margin-top: 12px;
}

.book_header {
    font-size: 48px;
    font-family: 'EB Garamond', serif;
    margin: 30px auto 10px;
    max-width: 70%;
    text-align: center;
}

.book_carousel_actions {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    width: 100%;
    padding: 0 50px;
    transform: translateY(-50%);
}

.carousel_button-prev,
.carousel_button-next {
    background: transparent;
}

@media screen and (max-width: 980px) {
    .nav_wrapper {
        flex-direction: column;
       align-items: center;
       background: #181818;
       position: relative;
       padding: 10px 0;
       
       .mobileMenu {
            flex-direction: column;
            background: #181818;
            width: 100%;
            align-items: center;
            height: 100vh;
            display: none;
            transform: translateY(-20%);
            transition: transform 0.3s;

           ul {
               flex-direction: column;
               background: #181818;
               width: 100%;
               margin-bottom: 20px;
               margin-top: 20px;
           }
    
           button {
               max-width: 200px;
               
           }
       }

.menuVisible {
    display: block;
    transform: translateY(16%);
    z-index: 1200;
   

}
        .burgerMenu {
            display: block;
            position: absolute;
            top: 38%;
            right: 10%;
        }
    }

    .footer_links {
        ul {
    
            flex-direction: column;
        }
    }


    .about_main {
        flex-direction: column;

        &-photo {
            margin: 0 auto;
            width: 100%;
            object-fit: cover;
        }

        &-content {
            margin: 0 auto;
            text-align: center;
            margin-top: 40px;
            width: 100%;
        }
    }

    .webposter {
        flex-direction: column;
        margin-bottom: 100px;

        .text {
            width: 100%;
            margin-bottom: 40px;
        }

        .allusion {
            width: 100%;
            max-height: 300px;
        }
    }
    .decorativePhotos {
         flex-direction: column;
         margin: 40px 20px;

         .photo {
             width: 100%;
             height: 300px;
         }
    }
}