nav {
  background: #181818;
  z-index: 1000;
}

nav div {
  padding: 10px 20px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav div .logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 0;
}

nav div .logo img {
  width: 32px;
  height: auto;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul li {
  margin-right: 16px;
  display: inline-block;
}

ul li a {
  color: white;
}

.mobileMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.burgerMenu {
  display: none;
}

button {
  background: #95E1F9;
  border-radius: 26px 3px;
  padding: 12px 33px;
  text-align: center;
  font-size: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  border: none;
  cursor: pointer;
}

.bookModal_container {
  width: 100%;
  position: absolute;
  top: -100%;
  max-height: 800px;
  z-index: 300;
  background: transparent;
}

.bookModal {
  background: #95E1F9;
  opacity: 0;
  border-radius: 40px 0 40px 0;
  border: 7px solid #fff;
  width: 400px;
  height: 560px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  top: -10%;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  pointer-events: none;
  position: relative;
}

.bookModal .bookModalCloseIcon {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1400;
}

.bookModal .header {
  font-size: 20px;
  color: #181818;
  margin-bottom: 28px;
  width: 100%;
}

.bookModal input {
  outline: none;
  border: none;
  width: 100%;
  padding: 12px 30px;
  margin-bottom: 20px;
  border-radius: 20px 0 20px 0;
}

.bookModal input::-webkit-input-placeholder {
  color: #454545;
}

.bookModal input:-ms-input-placeholder {
  color: #454545;
}

.bookModal input::-ms-input-placeholder {
  color: #454545;
}

.bookModal input::placeholder {
  color: #454545;
}

.bookModal button {
  background: #181818;
  color: #fff;
  width: 100%;
  margin-top: 20px;
}

.bookModal select {
  -webkit-appearance: button;
  -moz-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-padding-end: 20px;
  -moz-padding-end: 20px;
  -webkit-padding-start: 2px;
  -moz-padding-start: 2px;
  background-color: #fff;
  /* Fallback color if gradients are not supported */
  /* For Chrome and Safari */
  /* For old Firefox (3.6 to 15) */
  /* For pre-releases of Internet Explorer  10*/
  /* For old Opera (11.1 to 12.0) */
  background-image: url(../images/select-arrow.png), -webkit-gradient(linear, left top, left bottom, from(#E5E5E5), to(#F4F4F4));
  background-image: url(../images/select-arrow.png), linear-gradient(to bottom, #E5E5E5, #F4F4F4);
  /* Standard syntax; must be last */
  background-position: center right;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  border-radius: 10px 0 10px 0;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  color: #181818;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding: 6px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  outline: none;
}

.formSuccess {
  width: 300px;
  height: 140px;
  background: #181818;
  text-align: center;
  color: #fff;
  position: absolute;
  border-radius: 20px 0 20px 0;
  padding: 40px;
  opacity: 0;
  top: 0%;
  left: 39%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formSuccess p {
  color: #fff;
  font-size: 16px;
  text-align: center;
  width: 100%;
}

.formCloseIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 77px;
}

.poster {
  width: calc((100% - 150px) / 4);
  margin-right: 50px;
}

.poster:nth-child(4) {
  margin-right: 0;
  -webkit-transform: translateY(30%);
          transform: translateY(30%);
}

.poster:nth-child(2) {
  -webkit-transform: translateY(30%);
          transform: translateY(30%);
}

.poster img {
  width: 100%;
}

.poster_content {
  margin-top: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.poster_content hr {
  margin-bottom: 20px;
  margin-top: 20px;
  size: 2px;
}

.poster_content .title {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
}

.poster_content_info {
  display: block;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
}

.poster_content_info .date {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 400;
}

.poster_content_info .time {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 980px) {
  .nav_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #181818;
    position: relative;
  }
  .nav_wrapper .mobileMenu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #181818;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
    display: none;
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  .nav_wrapper .mobileMenu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #181818;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .nav_wrapper .mobileMenu button {
    max-width: 200px;
  }
  .nav_wrapper .menuVisible {
    display: block;
    -webkit-transform: translateY(16%);
            transform: translateY(16%);
    z-index: 1200;
  }
  .nav_wrapper .burgerMenu {
    display: block;
    position: absolute;
    top: 38%;
    right: 10%;
  }
  .footer_links ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=events.css.map */