nav {
  background: #181818;
  z-index: 1000;
}

nav div {
  padding: 10px 20px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav div .logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 0;
}

nav div .logo img {
  width: 32px;
  height: auto;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul li {
  margin-right: 16px;
  display: inline-block;
}

ul li a {
  color: white;
}

button {
  background: #95E1F9;
  border-radius: 26px 3px;
  padding: 12px 33px;
  text-align: center;
  font-size: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  border: none;
  cursor: pointer;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: #181818;
}

.hero_content {
  width: 400px;
  margin: 150px auto;
  text-align: center;
  color: #fff;
  z-index: 120;
}

.hero_content h1 {
  font-family: 'EB Garamond', serif;
  font-size: 48px;
  margin-bottom: 48px;
  font-weight: 300;
}

.hero_content .nav_btn {
  cursor: pointer;
  background: #FF4242;
  padding: 12px 33px;
}

.hero_content .nav_btn a {
  color: #fff;
}

.streamPath {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-mask: url(../images/longmask-02.svg);
          mask: url(../images/longmask-02.svg);
  -webkit-mask-size: auto 100%;
          mask-size: auto 100%;
  -webkit-animation: streamAnim 100s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite;
          animation: streamAnim 100s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite;
}

@-webkit-keyframes streamAnim {
  0% {
    -webkit-mask-position: -200% top;
  }
  100% {
    -webkit-mask-position: 0% top;
  }
}

@keyframes streamAnim {
  0% {
    -webkit-mask-position: -200% top;
  }
  100% {
    -webkit-mask-position: 0% top;
  }
}

.streamPath svg {
  width: 100%;
  height: auto;
  -webkit-mask-size: 100% auto;
          mask-size: 100% auto;
}

.streamPath svg path {
  -webkit-animation: stream 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite;
          animation: stream 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite;
  opacity: 1;
  -webkit-mask-size: 100% auto;
          mask-size: 100% auto;
}

@-webkit-keyframes stream {
  0% {
    d: path("M0,324c116.31,8.87,176.45,49,210,85,39.32,42.22,37.16,73.53,110,209,35,65.12,52.52,97.68,74,125,36.63,46.59,124.25,158,244,157,129-1.08,216.23-131.87,237-163,40.76-61.1,30-82.48,93-227,29.76-68.29,57.33-131.58,87-175,33.51-49,127-156.64,385-190V363c-52,4.84-158.3,23.16-243,106-72.26,70.68-95.47,155.74-119,242a804.62,804.62,0,0,0-28,189H340a833.67,833.67,0,0,0-59-124c-19-32.71-38.94-59.59-78-112C120,552.57,97.74,537.25,72,530c-29.19-8.22-55.74-4-72,0Z");
  }
  25% {
    d: path("M0,264c116.31,8.87,219,54.69,260,82,36,24,52.09,33.69,116,104,20,22,34,52,80,145,64.2,129.79,158.25,191,278,190,129-1.08,181.27-154.53,198-188,41-82,64-200,108-266,32.63-48.94,98.22-93,145-117,37-19,91-41,255-28V377c-52,4.84-155.3-11.84-240,71-72.26,70.68-83,119-95,170-18.33,77.92-29.72,236.69-31,282H489c-12.95-34.23-41-108-103-217-27.09-47.62-85.71-92.78-138-132-56-42-138.28-37.84-165-37-32,1-66.74,14-83,18Z");
  }
  50% {
    d: path("M0,234c116.31,8.87,216.39,59.16,260,82,21,11,50,36,111,97,13,13,48,143,85,197,81.85,119.45,144.25,141,264,140,129-1.08,150.27-104.53,167-138,41-82,77-150,121-216,32.63-48.94,125.22-92,172-116,37-19,96-59,260-46V465c-52,4.84-186.3-48.84-271,34-72.26,70.68-77,82-92,115-33.12,72.87-70.72,255.69-72,301H388c-12.95-34.23-1-163-39-272-21.82-62.59-49.71-97.78-102-137-56-42-137.28-22.84-164-22-32,1-66.74,14-83,18Z");
  }
  100% {
    d: path("M0,324c116.31,8.87,100,49,210,85,39.32,80,37.16,73.53,110,209,35,65.12,52.52,97.68,74,125,36.63,46.59,124.25,158,244,157,129-1.08,216.23-131.87,237-163,40.76-61.1,30-82.48,93-227,29.76-68.29,57.33-131.58,87-175,33.51-49,127-156.64,385-190V363c-52,4.84-158.3,23.16-243,106-72.26,70.68-95.47,155.74-119,242a804.62,804.62,0,0,0-28,189H340a833.67,833.67,0,0,0-59-124c-19-32.71-38.94-59.59-78-112C120,552.57,97.74,537.25,72,530c-29.19-8.22-55.74-4-72,0Z");
  }
}

@keyframes stream {
  0% {
    d: path("M0,324c116.31,8.87,176.45,49,210,85,39.32,42.22,37.16,73.53,110,209,35,65.12,52.52,97.68,74,125,36.63,46.59,124.25,158,244,157,129-1.08,216.23-131.87,237-163,40.76-61.1,30-82.48,93-227,29.76-68.29,57.33-131.58,87-175,33.51-49,127-156.64,385-190V363c-52,4.84-158.3,23.16-243,106-72.26,70.68-95.47,155.74-119,242a804.62,804.62,0,0,0-28,189H340a833.67,833.67,0,0,0-59-124c-19-32.71-38.94-59.59-78-112C120,552.57,97.74,537.25,72,530c-29.19-8.22-55.74-4-72,0Z");
  }
  25% {
    d: path("M0,264c116.31,8.87,219,54.69,260,82,36,24,52.09,33.69,116,104,20,22,34,52,80,145,64.2,129.79,158.25,191,278,190,129-1.08,181.27-154.53,198-188,41-82,64-200,108-266,32.63-48.94,98.22-93,145-117,37-19,91-41,255-28V377c-52,4.84-155.3-11.84-240,71-72.26,70.68-83,119-95,170-18.33,77.92-29.72,236.69-31,282H489c-12.95-34.23-41-108-103-217-27.09-47.62-85.71-92.78-138-132-56-42-138.28-37.84-165-37-32,1-66.74,14-83,18Z");
  }
  50% {
    d: path("M0,234c116.31,8.87,216.39,59.16,260,82,21,11,50,36,111,97,13,13,48,143,85,197,81.85,119.45,144.25,141,264,140,129-1.08,150.27-104.53,167-138,41-82,77-150,121-216,32.63-48.94,125.22-92,172-116,37-19,96-59,260-46V465c-52,4.84-186.3-48.84-271,34-72.26,70.68-77,82-92,115-33.12,72.87-70.72,255.69-72,301H388c-12.95-34.23-1-163-39-272-21.82-62.59-49.71-97.78-102-137-56-42-137.28-22.84-164-22-32,1-66.74,14-83,18Z");
  }
  100% {
    d: path("M0,324c116.31,8.87,100,49,210,85,39.32,80,37.16,73.53,110,209,35,65.12,52.52,97.68,74,125,36.63,46.59,124.25,158,244,157,129-1.08,216.23-131.87,237-163,40.76-61.1,30-82.48,93-227,29.76-68.29,57.33-131.58,87-175,33.51-49,127-156.64,385-190V363c-52,4.84-158.3,23.16-243,106-72.26,70.68-95.47,155.74-119,242a804.62,804.62,0,0,0-28,189H340a833.67,833.67,0,0,0-59-124c-19-32.71-38.94-59.59-78-112C120,552.57,97.74,537.25,72,530c-29.19-8.22-55.74-4-72,0Z");
  }
}

.streamPath img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.seen {
  display: block;
}

.random {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  min-height: 400px;
}

.random_content {
  margin: 50px auto;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
  margin: auto;
}

.random_content h2 {
  margin-bottom: 16px;
  font-size: 32px;
  font-family: 'EB Garamond', serif;
  font-weight: 800;
}

.random_content p {
  margin-bottom: 32px;
}

.random_content button {
  font-size: 16px;
}

.random_content .randomImage_container {
  width: 100px;
  height: 100px;
  background: #95E1F9;
  margin: 10px auto 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.random .randomImage1 {
  position: absolute;
  bottom: 0;
  left: 0;
}

.random .randomImage2 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.events {
  padding: 80px 40px;
  text-align: center;
}

.carousel {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.carousel_item,
.carousel_item-hidden {
  display: none;
  margin: 0 auto;
}

.carousel_item-visible {
  display: block;
}

.carousel_item img {
  width: 20%;
  height: auto;
}

.carousel_item p {
  margin-top: 12px;
}

.events_header {
  font-size: 48px;
  font-family: 'EB Garamond', serif;
  margin-bottom: 30px;
}

.carousel_actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.carousel_button-prev,
.carousel_button-next {
  background: transparent;
}

.footer {
  width: 100%;
  background: #181818;
}

.footer_wrapper {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 80px 60px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_wrapper .footer_logo {
  width: 64px;
  height: 64px;
  margin: 40px auto 0;
  cursor: pointer;
}

.footer_wrapper .footer_logo img {
  width: 100%;
  height: auto;
}

.footer_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.footer_links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.footer_links ul li {
  display: inline;
}

.footer_links ul li a {
  color: #fff;
}
/*# sourceMappingURL=index.css.map */