nav {
    background: #181818;
    

   div {
        padding: 10px 20px;
        height: 80px;
        display: flex;
        justify-content: space-between;

    }
}

ul {
    display: flex;
    align-items: center;

    li {
    margin-right: 16px;
    display: inline-block;

     a{
         color: rgb(255, 255, 255);
     }
    }
}

button {
    background: #95E1F9;
    border-radius: 26px 3px;
    padding: 12px 33px;
    text-align: center;
    font-size: 16px;
    justify-content: center;
    outline: none;
    border: none;
    cursor: pointer;
}


.hero {
    display: flex;
    

    &_content {
        width: 400px;
        margin: 150px auto;
        text-align: center;

        h1{
            font-family: 'EB Garamond', serif;
            font-size: 48px;
            margin-bottom: 48px;
        }
    }
}

.seen {
    display: block;
}

.random {
    display: flex;

    &_content {
        margin: 50px auto;
        text-align: center;
        align-items: center;
        width: 400px;

        h2 {
            margin-bottom: 16px;
            font-size: 32px;
            font-family: 'EB Garamond', serif;
            font-weight: 800;
        }
        p{ margin-bottom: 32px;
        }
        button {
            font-size: 16px;
        }
    }
}

.streamPath {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;

   path{
     animation: stream 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite;
     opacity: 1;

        @keyframes stream {
            0% {
                d: path("M0,324c116.31,8.87,176.45,49,210,85,39.32,42.22,37.16,73.53,110,209,35,65.12,52.52,97.68,74,125,36.63,46.59,124.25,158,244,157,129-1.08,216.23-131.87,237-163,40.76-61.1,30-82.48,93-227,29.76-68.29,57.33-131.58,87-175,33.51-49,127-156.64,385-190V363c-52,4.84-158.3,23.16-243,106-72.26,70.68-95.47,155.74-119,242a804.62,804.62,0,0,0-28,189H340a833.67,833.67,0,0,0-59-124c-19-32.71-38.94-59.59-78-112C120,552.57,97.74,537.25,72,530c-29.19-8.22-55.74-4-72,0Z")
            }
            25% {
                d: path("M0,324c116.31,8.87,100,49,210,85,39.32,42.22,37.16,73.53,110,209,35,65.12,52.52,97.68,74,125,36.63,46.59,124.25,158,244,157,129-1.08,216.23-131.87,237-163,40.76-61.1,30-82.48,93-227,29.76-68.29,57.33-131.58,87-175,33.51-49,127-156.64,385-190V363c-52,4.84-158.3,23.16-243,106-72.26,70.68-95.47,155.74-119,242a804.62,804.62,0,0,0-28,189H340a833.67,833.67,0,0,0-59-124c-19-32.71-38.94-59.59-78-112C120,552.57,97.74,537.25,72,530c-29.19-8.22-55.74-4-72,0Z")
            }
            50% {
                d: path("M0,324c116.31,100,100,49,210,85,39.32,42.22,37.16,73.53,110,209,35,65.12,52.52,97.68,74,125,36.63,46.59,124.25,158,244,157,129-1.08,216.23-131.87,237-163,40.76-61.1,30-82.48,93-227,29.76-68.29,57.33-131.58,87-175,33.51-49,127-156.64,385-190V363c-52,4.84-158.3,23.16-243,106-72.26,70.68-95.47,155.74-119,242a804.62,804.62,0,0,0-28,189H340a833.67,833.67,0,0,0-59-124c-19-32.71-38.94-59.59-78-112C120,552.57,97.74,537.25,72,530c-29.19-8.22-55.74-4-72,0Z")
            }
            100% {
                d: path("M0,324c116.31,8.87,100,49,210,85,39.32,80,37.16,73.53,110,209,35,65.12,52.52,97.68,74,125,36.63,46.59,124.25,158,244,157,129-1.08,216.23-131.87,237-163,40.76-61.1,30-82.48,93-227,29.76-68.29,57.33-131.58,87-175,33.51-49,127-156.64,385-190V363c-52,4.84-158.3,23.16-243,106-72.26,70.68-95.47,155.74-119,242a804.62,804.62,0,0,0-28,189H340a833.67,833.67,0,0,0-59-124c-19-32.71-38.94-59.59-78-112C120,552.57,97.74,537.25,72,530c-29.19-8.22-55.74-4-72,0Z")
            }
        }
    }
       
   img {
       clip-path: url(#stream);
   }
}

