nav {
    background: #181818;
    z-index: 1000;
    

   div {
        padding: 10px 20px;
        height: 80px;
        display: flex;
        justify-content: space-between;

    }
}

ul {
    display: flex;
    align-items: center;

    li {
    margin-right: 16px;
    display: inline-block;

     a{
         color: rgb(255, 255, 255);
     }
    }
}

button {
    background: #95E1F9;
    border-radius: 26px 3px;
    padding: 12px 33px;
    text-align: center;
    font-size: 16px;
    justify-content: center;
    outline: none;
    border: none;
    cursor: pointer;
}


.hero {
    display: flex;
    position: relative;
    background: #181818;

    
}

.hero_content {
    width: 400px;
    margin: 150px auto;
    text-align: center;
    color: #fff;
    z-index: 120;

    h1{
        font-family: 'EB Garamond', serif;
        font-size: 48px;
        margin-bottom: 48px;
        font-weight: 300;
    }

    .nav_btn {
        cursor: pointer;
        background: #FF4242;
        padding: 12px 33px;
        
    }
}

.streamPath {
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    

    svg {
         width: 100%;
        height: auto;
        mask-size: 100% auto;

        path{
            animation: stream 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite;
            opacity: 1;
            mask-size: 100% auto;
       
               @keyframes stream {
                   0% {
                       d: path("M0,324c116.31,8.87,176.45,49,210,85,39.32,42.22,37.16,73.53,110,209,35,65.12,52.52,97.68,74,125,36.63,46.59,124.25,158,244,157,129-1.08,216.23-131.87,237-163,40.76-61.1,30-82.48,93-227,29.76-68.29,57.33-131.58,87-175,33.51-49,127-156.64,385-190V363c-52,4.84-158.3,23.16-243,106-72.26,70.68-95.47,155.74-119,242a804.62,804.62,0,0,0-28,189H340a833.67,833.67,0,0,0-59-124c-19-32.71-38.94-59.59-78-112C120,552.57,97.74,537.25,72,530c-29.19-8.22-55.74-4-72,0Z")
                   }
                   25% {
                       d: path("M0,264c116.31,8.87,219,54.69,260,82,36,24,52.09,33.69,116,104,20,22,34,52,80,145,64.2,129.79,158.25,191,278,190,129-1.08,181.27-154.53,198-188,41-82,64-200,108-266,32.63-48.94,98.22-93,145-117,37-19,91-41,255-28V377c-52,4.84-155.3-11.84-240,71-72.26,70.68-83,119-95,170-18.33,77.92-29.72,236.69-31,282H489c-12.95-34.23-41-108-103-217-27.09-47.62-85.71-92.78-138-132-56-42-138.28-37.84-165-37-32,1-66.74,14-83,18Z")
                   }
                   50% {
                       d: path("M0,234c116.31,8.87,216.39,59.16,260,82,21,11,50,36,111,97,13,13,48,143,85,197,81.85,119.45,144.25,141,264,140,129-1.08,150.27-104.53,167-138,41-82,77-150,121-216,32.63-48.94,125.22-92,172-116,37-19,96-59,260-46V465c-52,4.84-186.3-48.84-271,34-72.26,70.68-77,82-92,115-33.12,72.87-70.72,255.69-72,301H388c-12.95-34.23-1-163-39-272-21.82-62.59-49.71-97.78-102-137-56-42-137.28-22.84-164-22-32,1-66.74,14-83,18Z")
                   }
                   100% {
                       d: path("M0,324c116.31,8.87,100,49,210,85,39.32,80,37.16,73.53,110,209,35,65.12,52.52,97.68,74,125,36.63,46.59,124.25,158,244,157,129-1.08,216.23-131.87,237-163,40.76-61.1,30-82.48,93-227,29.76-68.29,57.33-131.58,87-175,33.51-49,127-156.64,385-190V363c-52,4.84-158.3,23.16-243,106-72.26,70.68-95.47,155.74-119,242a804.62,804.62,0,0,0-28,189H340a833.67,833.67,0,0,0-59-124c-19-32.71-38.94-59.59-78-112C120,552.57,97.74,537.25,72,530c-29.19-8.22-55.74-4-72,0Z")
                   }
               }
           }
    }
   
       
   img {
       position: absolute;
       
       bottom: 0;
       left: 0;
       right: 0;
       width: 100%;
       clip-path: url(#stream);
      
   }
}


.seen {
    display: block;
}

.random {
    display: flex;
    position: relative;
    min-height: 400px;

    &_content {
        margin: 50px auto;
        text-align: center;
        align-items: center;
        width: 500px;
        margin: auto;

        h2 {
            margin-bottom: 16px;
            font-size: 32px;
            font-family: 'EB Garamond', serif;
            font-weight: 800;
        }
        p{ margin-bottom: 32px;
        }
        button {
            font-size: 16px;
        }

        .randomImage_container{
            width: 100px;
            height: 100px;
            background: #95E1F9;
            margin: 10px auto 20px;
        }
    }

    
    .randomImage1 {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .randomImage2 {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

