nav {
    background: #181818;
    

   div {
        padding: 10px 20px;
        height: 80px;
        display: flex;
        justify-content: space-between;

    }
}

ul {
    display: flex;
    align-items: center;

    li {
    margin-right: 16px;
    display: inline-block;

     a{
         color: rgb(255, 255, 255);
     }
    }
}

section {
    background: #181818;
    // display: flex;
}

.carousel {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    
}

.carousel_item,
.carousel_item-hidden {
    display: none;
}


.carousel .carousel_item img {
    border-radius: 60px 0 60px 0;
    width: 100%;
    margin-bottom: 30px;

}

.carousel .carousel_item-visible {
    display: block;
}

.carousel .carousel_actions {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

button {
    background: #95E1F9;
    border-radius: 26px 3px;
    padding: 12px 33px;
    text-align: center;
    font-size: 16px;
    justify-content: center;
    outline: none;
    border: none;
    cursor: pointer;
}


.carousel_button-prev,
.carousel_button-next {
    background: transparent;
}

.carousel_item {
    
    max-width: 660px;
    border-radius: 60px 0px 60px 0px;
    margin: 30px auto 0;
    text-align: center;


}




.carousel p {
    color: #fff;
    margin-bottom: 10px;
}
.carousel button {
    margin-top: 30px;
}


.modal {
    background: #181818;
    padding: 43px 63px;
    color: #fff;
    border-radius: 28px 3px 28px 3px;
    margin: 60px auto;
    position: absolute;
    top: 30%;
    left: 50%;
    display: none;
    animation: top 1s direction fill-mode;

    @keyframes top {
        from {top: -100px;}
        to {top: 100%;}
    }
    h3 {
        font-size: 22px;
    }
    
}

.footer {
    width: 100%;
    background: #181818;

    &_wrapper {
        width: 70%;   
        display: flex;
        flex-direction: column;
        padding: 40px 80px 60px;
        margin: 0 auto;
        align-items: center;

        .footer_logo {
            width: 64px;
            height: 64px;
            margin: 40px auto 0;
            cursor: pointer;

            img {
                width: 100%;
                height: auto;
            }
        }

        

    }
}

.footer_links {
    
        display: flex;
        margin: 0 auto ;
        

        ul{
           
            display: flex;
            justify-content: space-between;
            justify-content: center;
            margin: 0 auto;

            li {
                display: inline;
                a {
                    color: #fff;
                }
            }
        }
    
}