section {
  background: #181818;
}

nav {
  background: #181818;
}

nav div {
  padding: 10px 20px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

ul li {
  margin-right: 16px;
  display: inline-block;
}

ul li a {
  color: white;
}

.mobileMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

button {
  background: #95E1F9;
  border-radius: 26px 3px;
  padding: 12px 33px;
  text-align: center;
  font-size: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  border: none;
  cursor: pointer;
  float: right;
}

.burgerMenu {
  display: none;
}

p {
  font-size: 32px;
  font-family: 'EB Garamond', serif;
  color: #fff;
  width: 600px;
  text-align: center;
  margin: 0 auto;
  padding: 30px 0;
}

.people_wrapper {
  padding: 0 40px;
}

.people_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto 40px;
}

.people_row .people_category {
  float: left;
  margin: 0;
  text-align: left;
}

.people_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.person_card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.person_card {
  background: #95E1F9;
  height: 244px;
  width: calc((100% - 100px) / 6);
  border-radius: 20px 0 20px 0;
  margin-right: 20px;
  cursor: pointer;
  z-index: 100;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.person_card img {
  width: 100%;
  height: auto;
}

.person_card:nth-child(7) {
  margin-right: 0;
}

.person_card-bottom {
  width: calc((100% - 0px) +  14px);
  height: 55px;
  background: #fff;
  margin-top: 0;
  position: absolute;
  left: -7px;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 0 0 20px 0;
  z-index: 1;
  opacity: 0;
}

.person_card-bottom p {
  font-size: 20px;
  color: #181818;
  padding: 14px 7px;
}

.cardOnHover {
  border: 7px solid #fff;
  border-radius: 20px 0 0 0;
}

.cardBottomOnHover {
  bottom: -50px;
  opacity: 1;
}

.blue {
  background: #95E1F9;
}

.pink {
  background: #FF4242;
}

.purple {
  background: #8438FF;
}

.hidden {
  opacity: 0;
  top: -30%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.visible {
  opacity: 1;
  top: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.person_card-open {
  background: #95E1F9;
  border-radius: 120px 0 120px 0;
  width: 600px;
  height: 250px;
  position: absolute;
  z-index: 120;
  margin: auto;
}

.person_card-open .card-open_image {
  width: 35%;
  height: 100%;
  overflow: hidden;
}

.person_card-open .card-open_image img {
  width: 100%;
  height: auto;
}

.footer {
  width: 100%;
  background: #181818;
}

.footer_wrapper {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 80px 60px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_wrapper .footer_logo {
  width: 64px;
  height: 64px;
  margin: 40px auto 0;
  cursor: pointer;
}

.footer_wrapper .footer_logo img {
  width: 100%;
  height: auto;
}

.footer_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.footer_links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.footer_links ul li {
  display: inline;
}

.footer_links ul li a {
  color: #fff;
}

@media screen and (max-width: 1280px) {
  .people_cards .person_card {
    width: calc((100% - 100px) / 2);
  }
  .people_cards .person_card:nth-child(2) {
    margin-right: 0;
  }
}

@media screen and (max-width: 678px) {
  .people_cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .people_cards .person_card {
    width: 100%;
    margin-bottom: 40px;
  }
  .people_row .people_category {
    width: 100%;
  }
  .nav_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #181818;
    position: relative;
  }
  .nav_wrapper .mobileMenu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #181818;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
    display: none;
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  .nav_wrapper .mobileMenu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #181818;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .nav_wrapper .mobileMenu button {
    max-width: 200px;
  }
  .nav_wrapper .menuVisible {
    display: block;
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
  }
  .nav_wrapper .burgerMenu {
    display: block;
    position: absolute;
    top: 38%;
    right: 10%;
  }
  .people_header {
    width: 100%;
  }
  .peope_category {
    width: 200px;
  }
  .footer_links ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=znamenitosti.css.map */