$blue: #95E1F9;
$pink: #FF4242;
$purple: #8438FF;

section {
    background: #181818;
}

nav {
    background: #181818;
    

   div {
        padding: 10px 20px;
        height: 80px;
        display: flex;
        justify-content: space-between;

    }
}

ul {
    display: flex;
    align-items: center;

    li {
    margin-right: 16px;
    display: inline-block;

     a{
         color: rgb(255, 255, 255);
     }
    }
}

button {
    background: #95E1F9;
    border-radius: 26px 3px;
    padding: 12px 33px;
    text-align: center;
    font-size: 16px;
    justify-content: center;
    outline: none;
    border: none;
    cursor: pointer;
}


p {
    font-size: 32px;
    font-family: 'EB Garamond', serif;
    color: #fff;
    width: 600px;
    text-align: center;
    margin: 0 auto;
    padding: 30px 0;
}

.people_wrapper {
padding: 0 40px;
}

.people_row {
    display: flex;
    flex-direction: column;
    margin: 0 auto 40px;
    
    .people_category {
        float: left;
        margin: 0;
        text-align: left;
    }
    
}

.people_cards {
    display: flex;
    
}
.person_card-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}
.person_card {
    background: $blue;
    height: 244px;
    width: calc((100% - 100px) / 6);
    border-radius: 20px 0 20px 0;
    margin-right: 20px;
    cursor: pointer;
    z-index: 100;
    position: relative;
    transition: 0.3s;

    img {
        width: 100%;
        height: auto;
        
    }

    &:nth-child(7) {
        margin-right: 0;
    }

    &-bottom {
        width: calc((100% - 0px) +  14px) ;
        height: 55px;
        background: #fff;
        margin-top: 0;
        position: absolute;
        left: -7px;
        bottom: 0;
        display: flex;
        bottom: 0px;
        transition: 0.3s;
        border-radius: 0 0 20px 0;
        z-index: 1;
        opacity: 0;
       

        p {
            font-size: 20px;
            color: #181818;
            padding: 14px 7px;
            

        }
    }
}

.cardOnHover{
    border: 7px solid #fff;
    border-radius: 20px 0 0 0
} 
.cardBottomOnHover {
    bottom: -50px;
    opacity: 1
}
.blue {
    background: $blue;
}
.pink {
    background: $pink;
}
.purple {
    background: $purple;
}

.hidden{
    opacity: 0;
    top: -30%;
    transition: 0.3s;
}
.visible{
    opacity: 1;
    top: 50%;
    transition: 0.3s;
    
}

// @keyframes cardopen {
//     from {top: -30%}
//     to {top: 50%}
// }
.person_card-open {
    background: #95E1F9;
    border-radius: 120px 0 120px 0;
    width: 600px;
    height: 250px;
    position: absolute;
    z-index: 120;
    margin: auto;

    .card-open_image {
        width: 35%;
        height: 100%;
        overflow: hidden;

          img {
width: 100%;
height: auto;

        }
    }
}